<h1>Info about List</h1>

<p> Name: <%= @list.name %> </p>

<div>
<h2>Movies</h2>
<ul class="list-group">
    <% @list.bookmarks.movies each do |bookmark, movie| %>
      <li class="list-group-item"><%= bookmark.comment %></li>
      <li class="list-group-item"><%= bookmark.movie.title %></li>
      <li class="list-group-item"><%= bookmark.movie.overview %></li>
      <li class="list-group-item"><%= bookmark.movie.poster_url %></li>
      <li class="list-group-item"><%= bookmark.movie.rating %></li>
    <% end %>
</ul>
</div>

<p>
  <%= link_to 'Add a Bookmark',  new_list_bookmark(@list) %>
</p>

<p>
  <%= link_to 'Remove this Bookmark', list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p><%= link_to 'Back To lists', lists_path %></p>
